body {
    color: $appColor;
    background-color: $appBackground;
    margin: 0;
    padding: 0;
}
 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// React app mounting point
#root {
    width: 100vw;
    height: 100vh;
}

// Wrapper
.Content {
    display: grid;
    grid-template-columns: [left] $queryColWidth [main] auto;
    grid-template-rows: [nav] $topNavHeight [body] auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Header {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.Header > .Links {
    margin-left: auto; 
    margin-right: 10px;
}

.Header > .Links > a {
    margin: 20px 10px;
}

// Left navigation
.Main {
    grid-column-start: 1;
    grid-column-end: span 2;
    display: flex;
    flex-direction: row;
}

.Main {
    position: relative;
    grid-column-start: 2;
}
  
.Visualization {
    width: 100%;
    height: 100%;
}

.Introduction {
    margin: 15px;
    color: $appColor;
}

// .Navigation_branding {
//     flex: 1;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
// }

// .Navigation_links {
//     flex: 1;
//     display: flex;
//     flex-direction: row;
//     // justify-content: flex-end;
// }

// .Visualization > svg {
//     background-color: black;
//     // height: 1vh;
// }