body {
    color: $appColor;
    margin: 0;
    padding: 0;
    background-color: #000;
}
 
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Header {
    display: flex;
    flex-direction: row;
}

.Header > .Links {
    margin-left: auto;
}

.Header > .Links > a {
    margin: 20px 10px;
}

.Header,
.Footer {
    padding: $appPadding;
}

.Main {
    display: grid;
    grid-template-columns: minmax(150px, 18%) 1fr minmax(150px, 18%);
    min-height: 80vh;
    padding-top: $containerPadding;
}

.Sidebar-Left,
.Sidebar-Right {
    flex: 0 1 18vw;
    padding: $appPadding $appPadding 0 $appPadding;
    position: relative;
}

.Sidebar-Left {
    border-right: 1px solid $containerBorderColor;
}

.Sidebar-Right {
    border-left: 1px solid $containerBorderColor;
}

.Content {
    padding: $appPadding;
}

.Progress .Links .Link {
    margin-bottom: .15rem;
}

.Link-Container {
    border: 1px solid #272B30;
}

// Wrapper
.Content-Container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
}

.Container,
.Container-Fill-Secondary {
    border: 1px solid $containerBorderColor;
    border-radius: $containerBorderRadius;
    padding: $containerPadding;
    text-align: left;
}

.Container {
    background-color: $appDarkAccent;
}

.Container-Fill-Secondary {
    background-color: $appDarkAccent;
}

.Container-Outlined {
    border: 1px solid $containerBorderColor;
    border-radius: $containerBorderRadius;
    padding: $containerPadding;
    margin-bottom: $containerMarginBottom;
    text-align: left;
    background-color: $appDarkAccent;
}

.Progress {
    margin-bottom: $containerMarginBottom;
}

.Container-Rule {
    border-bottom: 1px solid $containerBorderColor;
    border-radius: $containerBorderRadius;
    padding: $containerPadding;
    // margin-bottom: $containerMarginBottom;
    text-align: left;
    background-color: none;
}

.Container-Rule p {
    color: $appColor;
    margin-bottom: 0;
}

.Visualization {
    display: grid;
    grid-gap: 10px;
    overflow: hidden;
}

.Row {
    display: flex;
    flex-direction: row;
    grid-gap: $containerMargin;
}

.Three-Column {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr minmax(150px, 26%);
    grid-gap: 1rem;
}

.Three-Column2 {
    display: grid;
    grid-template-columns: minmax(150px, 35%) minmax(30px, 5%) minmax(150px, 57%);
    grid-gap: 1rem;
    text-align: center;
}

.Three-Column3 {
    display: grid;
    grid-template-columns: minmax(150px, 20%) minmax(150px, 60%) minmax(150px, 20%);
    grid-gap: 1rem;
    text-align: center;
}

.Two-Column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(200px, 50%) minmax(200px, 50%);
}

.Two-Column-Three {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(300px, 55%) minmax(200px, 45%);
}

.One-Column-Three {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(200px, 33%) minmax(300px, 66%);
}

.One-Column-Three2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(250px, 22%) minmax(700px, 78%);
}

.One-Column-Three3 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: minmax(570px, 78%) minmax(175px, 22%);
}

.One-Column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.Two-Row {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: minmax(200px, 50%) minmax(200px, 50%);
}

.Three-Row {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 125px 1fr 1fr;
}

.Three-Column-Equal {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.Four-Row {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 100px 1fr 1fr 1fr;
}

.Four-Column {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Four-Column .Column {
    height: 100%;
}

.Introduction {
    padding: $appPadding;
    margin-bottom: 0;
}

.Progress h4 {
    padding-left: $appPadding;
}

.Case-True-Column,
.Case-False-Column {
    min-height: 100px;
    // border: 1.5pt dotted #4e5155;
}

.Column {
    height: 100;
}

.Margin {
    margin: $containerMargin;
}

.Margin-Top {
    margin-top: $containerMargin;
}

.Margin-Bottom {
    margin-bottom: $containerMargin;
}

.Margin-Left {
    margin-left: $containerMargin;
}

.Margin-Large-Bottom {
    margin-bottom: 70px;
}

.Padding-Top {
    padding-top: $containerPadding;
}

.Padding {
    padding: $containerPadding;
}

.Add-Stakeholder-Button {
    text-align: center;
}

.Bottom-Rule {
    border-bottom: 1px solid $containerBorderColor;
}

.Top-Rule {
    border-top: 1px solid $containerBorderColor;
}

.No-Margin-Bottom {
    margin-bottom: 0;
}

.No-Margin-Top {
    margin-top: 0;
}

.Small-Margin-Top {
    margin-top: .5rem;
}

.Medium-Margin-Top {
    margin-top: 1rem;
}

.No-Padding-Top {
    padding-top: 0;
}

.No-Padding-Right {
    padding-right: 0;
}

.Text-Align-Center {
    text-align: center;
}

.Text-Align-Left {
    text-align: left;
}