body {
    color: $appColor;
    background-color: $appBackground;
}
  
// React app mounting point
#root {
    width: 100vw;
    height: 100vh;
}

// Wrapper
.Content {
    display: grid;
    grid-template-columns: [left] $queryColWidth [main] auto;
    grid-template-rows: [nav] $topNavHeight [body] auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.Navigation {
    display: flex;
    flex-direction: column;
}

.Navigation_branding {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.Navigation_links {

    display: grid;
    grid-template-columns: minmax(150px, 18%) 1fr;
}

.Navigation_additional_content {
    margin-left: auto; 
    margin-right: 10px;
}

.Navigation_additional_content a {
    margin: 20px 10px;
    
}


// // Left navigation
// .Navigation {
//     grid-column-start: 1;
//     grid-column-end: span 2;
//     display: flex;
//     flex-direction: row;
// }

// .Navigation_branding {
//     flex: 1;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
// }

// .Navigation_links {
//     flex: 1;
//     display: flex;
//     flex-direction: row;
//     // justify-content: flex-end;
// }

h2 {
    margin: 0;
}

.MuiAccordionSummary-content.Mui-expanded {
    margin: 0;
  }