// Typography styles 

$fontPath: "/assets/fonts/";
$fontPathPlex: $fontPath + "Plex/";
$fontPathVG5000: $fontPath + "VG5000/";

// Imports
@font-face {
  font-family: "Plex";
  src:
       url(#{$fontPathPlex + 'ibmplexsans-thin-webfont.ttf'}) format('ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src:
       url(#{$fontPathPlex + 'ibmplexsans-extralight-webfont.ttf'}) format('ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src:
       url(#{$fontPathPlex + 'ibmplexsans-light-webfont.ttf'}) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src:
       url(#{$fontPathPlex + 'ibmplexsans-regular-webfont.woff2'}) format('woff2'),
       url(#{$fontPathPlex + 'ibmplexsans-regular-webfont.woff'}) format("woff"),
       url(#{$fontPathPlex + 'ibmplexsans-regular-webfont.ttf'}) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src: 
       url(#{$fontPathPlex + 'ibmplexsans-italic-webfont.woff2'}) format("woff2"),
       url(#{$fontPathPlex + 'ibmplexsans-italic-webfont.woff'}) format("woff"),
       url(#{$fontPathPlex + 'ibmplexsans-italic-webfont.ttf'}) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Plex";
  src: 
       url(#{$fontPathPlex + 'ibmplexsans-semibold-webfont.woff2'}) format("woff2"),
       url(#{$fontPathPlex + 'ibmplexsans-semibold-webfont.woff'}) format("woff"),
       url(#{$fontPathPlex + 'ibmplexsans-semibold-webfont.ttf'}) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Plex";
  src: 
      url(#{$fontPathPlex + 'ibmplexsans-semibolditalic-webfont.woff2'}) format("woff2"),
      url(#{$fontPathPlex + 'ibmplexsans-semibolditalic-webfont.woff'}) format("woff"),
      url(#{$fontPathPlex + 'ibmplexsans-semibolditalic-webfont.ttf'}) format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "PlexCondensed";
  src: url(#{$fontPathPlex + 'ibmplexsanscondensed-regular-webfont.woff2'}) format("woff2"),
       url(#{$fontPathPlex + 'ibmplexsanscondensed-regular-webfont.woff'}) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlexCondensed";
  src: url(#{$fontPathPlex + 'ibmplexsanscondensed-bold-webfont.woff2'}) format("woff2"),
       url(#{$fontPathPlex + 'ibmplexsanscondensed-bold-webfont.woff'}) format("woff");
  font-weight: 600;
  font-style: normal;
}

@import url("https://p.typekit.net/p.css?s=1&k=sbn1rmz&ht=tk&f=13375&a=87836698&app=typekit&e=css");

@font-face {
  font-family:"ocr-a-std";
  src:url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
  font-family: 'VG5000';
  src:    url(#{$fontPathVG5000 + 'VG5000-Regular_web.eot'});
  src:    url(#{$fontPathVG5000 + 'VG5000-Regular_web.eot?#iefix'}) format('embedded-opentype'),
          url(#{$fontPathVG5000 + 'VG5000-Regular_web.woff'}) format('woff'),
          url(#{$fontPathVG5000 + 'VG5000-Regular_web.woff2'}) format('woff2'),
          url(#{$fontPathVG5000 + 'VG5000-Regular_web.ttf'}) format('truetype');
          // url(#{$fontPath + 'VG5000/' + 'VG5000-Regular_web.svg#svgFontName'}) format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: $baseFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $appColor;
}

// base typography
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin-bottom: 1.3rem;
  margin-top: 0;
  color: $appColor;
}

.Small-Margin {
  margin-bottom: .5rem;
}

.Medium-Margin {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.3rem;
  line-height: 1.2;
  font-family: "ocr-a-std", monospace;
  // margin-bottom: 0;
}

.Link > .active,
.Link > a:focus {
  font-weight: 500;
  letter-spacing: 1.1px;
  font-size: .945rem;
  color: white;
}

.Link > a {
  font-size: .875rem;
  line-height: 1.35;
  margin-bottom: 0;
  font-weight: 400;
  color: $appColor;
}

h1,
h1 > a:hover, 
h1 > a:visited, 
h1 > a:focus {
  color: "#ffffff";
}

h2 {
  font-size: 1.1rem;
  line-height: 1.3;
  font-variant: small-caps;
  letter-spacing: 1.5px;
  font-weight: 600;
  margin-bottom: 1rem;
}

h3,
.Header .Link,
.Expand {
  margin-bottom: .8rem;
  font-size: .95rem;
  letter-spacing: 1.1px;
  font-variant: small-caps;
  font-weight: 500;
}

h4 {
  margin-bottom: .8rem;
  font-size: .90rem;
  letter-spacing: .5px;
  font-variant: small-caps;
  font-weight: 400;
}

h5 {
  font-size: .8rem;
  line-height: 1.5;
  margin-bottom: .3rem;
  margin-top: .6rem;
  opacity: .7;
  // font-weight: 500;
  color: white;
  letter-spacing: .8px;
}

h6, h6 > a {
  font-size: .8rem;
  line-height: 1.5;
  margin-bottom: .3rem;
  margin-top: .6rem;
}

h6 {
  opacity: .7;
}

.Progress h4,
.Progress h4 a {
  margin-bottom: 0;
}

p,
li,
li > a,
p > a {
  margin: 0;
  font-size: .80rem;
  line-height: 140%;
  margin-bottom: 1rem;
}

li {
  margin-left: 10px;
  margin-bottom: .5rem;
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  // font-weight: 200;
}

a:visited {
  color: $appColor;
}

h6 > a:visited {
  opacity: .7;
}

a:hover,
h6 > a:hover {
  color: $appColorFocus;
}

h1 .active {
  font-weight: 300;
}

.inactive {
  color: $appColorInactive;
}

.Introduction {
  background-color: $containerBackgroundColor;
}

.Term-Citation {
  font-style: italic;
  color: $appColorSecondary;
}

.Subtitle {
  padding: 0;
  margin-bottom: .5rem;
}

.Expand {
  margin-left: $containerMargin;
  line-height: normal;
  padding-top: 7px;
}

.Expand:hover {
  border-Color: $appColorFocus;
  color: $appColorFocus;
}

.Semi-Bold {
  font-weight: 500;
}

.Italic {
  font-style: italic;
}

.Small-Margin-Top {
  margin: .1rem;
}

.Start h1 {
  font-size: 2.7rem;
}

.No-Margin-Bottom {
  margin-bottom: 0;
}

.Emphasis {
  font-style: italic;
}

.Center {
  text-align: center;
}

.Opacity1 {
  opacity: 1;
}

.Opacity {
  opacity: .5;
}

.White {
  color: #fff;
}

.Bold {
  font-weight: 600;
  letter-spacing: .6px;
}

.Accuracy-Percent {
  font-weight: bold;
}