// Variables 

$baseFont: Plex, Verdana, Geneva, Tahoma, sans-serif;
$baseFontSize: 12pt;
$baseLineHeight: 1.3em;

$topNavHeight: 4rem;
$queryColWidth: 20rem;
$viewColWidth: 16rem;

$appPadding: 0.625rem;
$appIndent: 1.5rem;

$appColor: #ffffff;
$appColorSecondary: #262626;
$appColorDark: #08090b;
$appColorFocus: #FDAB33;

$appBackground: #000000;
$appBackgroundTransparent: rgba(62,68,80,0.65);
$employeRecordTransparent: rgba(62,68,80,0.85);
$appBackgroundInverted: #919295;

$appBorderColor: #4e5155;
$vizBgColor: #000000;

//Color System
$warningColor: #d35171;

//Container
$containerBackgroundColor: #262626;

//Cards
$cardBorderRadius: 0.45rem;
$cardBackgroundColor: #383838;
$cardBorderColor: #333333;
$cardBorderWeight: 1px;
$cardPadding: 15px;
$cardMarginBottom: 15px;
