// Variables 
$baseFont: Plex, Verdana, Geneva, Tahoma, sans-serif;
$baseFontSize: 12pt;
$baseLineHeight: 1.3em;

$topNavHeight: 4rem;
$queryColWidth: 20rem;
$viewColWidth: 16rem;

$appPadding: 1rem;
$appMargin: 1rem;
$appIndent: 1.5rem;

// 40FF01
$appColor: #cbcbcb;
$appColorSecondary: #9A00FF;
$appColorInactive: #272b30;
$appColorDark: #08090b;
$appColorFocus: #9A00FF;
$appDarkAccent: #131517;

$appBackground: #1a1d1f;
$appBackgroundTransparent: rgba(62,68,80,0.65);
$employeRecordTransparent: rgba(62,68,80,0.85);
$appBackgroundInverted: #919295;

$appBorderColor: #4e5155;
$vizBgColor: #000000;

//Color System
$warningColor: #F50141;

//Container
$containerBackgroundColor: #1c2022;
$containerBorderColor: #272B30;
// $containerBorderColor: #31363c;
$containerBorderRadius: 0.25rem;
$containerPadding: 15px;
$containerMarginBottom: 15px;
$containerMargin: 15px;
$containerAddBorderColor: #838a95;
// $containerAddBorderColor: #5a5e63;

//Cards
$cardBackgroundColor: #1C1F23;
$cardBorderSecondary: #292F34;
