// Variables 
$baseFont: Plex, Verdana, Geneva, Tahoma, sans-serif;
$baseFontSize: 12pt;
$baseLineHeight: 1.3em;

$topNavHeight: 4rem;
$queryColWidth: 20rem;
$viewColWidth: 16rem;

$appPadding: 1rem;
$appMargin: 1rem;
$appIndent: 1.5rem;

$appColor: #cbcbcb;
$appColorSecondary: #F5CB5C;
$appColorInactive: #272b30;
$appColorDark: #08090b;
$appColorFocus: #F5CB5C;
$appDarkAccent: #131517;

$appBackground: #1a1d1f;
$appBackgroundTransparent: rgba(62,68,80,0.65);
$employeRecordTransparent: rgba(62,68,80,0.85);
$appBackgroundInverted: #919295;

$appBorderColor: #4e5155;
$vizBgColor: #000000;

//Color System
$warningColor: #d35171;

//Container
$containerBackgroundColor: #1c2022;
$containerBorderColor: #272B30;
// $containerBorderColor: #31363c;
$containerBorderRadius: 0.45rem;
$containerPadding: 15px;
$containerMarginBottom: 15px;
$containerMargin: 15px;

//Cards
$cardBackgroundColor: #272B30;
$cardBorderSecondary: #868B90;
