.Next {
   position: absolute;
}

.Button-Container {
    position: relative;
    padding-right: $containerPadding;
    padding-bottom: $containerPadding;
    padding-left: $containerPadding;
    margin-left: $containerMargin;
    margin-right: $containerMargin;
    min-height: 60px;
    width: 100%;
}

.Button-Container-Left {
    margin-right: $containerMargin;
}

.Button-Container-Right {
    display: flex;
    justify-content: space-between;
    gap: $containerMargin;
    margin-bottom: $containerMargin;
}

