.Next,
.Back {
   position: absolute;
}

.Button-Container {
    position: relative;
    padding-right: $containerPadding;
    padding-bottom: $containerPadding;
    padding-left: $containerPadding;
    margin-left: $containerMargin;
    margin-right: $containerMargin;
    min-height: 60px;
    width: 100%;
}

.Button-Container-Left {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    width: 90%;
    left: 15px;
}

.Button-Container-Right {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    position: absolute;
    bottom: 15px;
    width: 90%;
    right: 15px;
}
