.Card {
    // width: 50px;
    height: 100px;
    background-color: $cardBackgroundColor;
    border-radius: $cardBorderRadius;
    border: 1px solid $cardBorderColor;
    max-width: 75px;
}

.False {
    border: 1px solid $warningColor;
}

.True {
    border: 1px solid $cardBorderColor;
}

.Card-Container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    max-width: 300px;
}