.Card {
    max-height: 130px;
    background-color: $cardBackgroundColor;
    border-radius: $containerBorderRadius;
    border: 1px solid $containerBorderColor;
    max-width: 75px;
    min-width: 75px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.Flat {
    box-shadow: none;
}

.Card > img {
    margin: 5px 0;
}

.False {
    border: 1px solid $warningColor;
}

.True {
    border: 1px solid $containerBorderColor;
}

.Card-Container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

// Pattern created here https://heropatterns.com/
.Case-False {
    background-color: #272b30;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23868b90' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.Washer {
    width: 40px;
    height: 40px;
    border: 2px solid #ffffff;
    border-radius: 50px;
    background-color: $cardBackgroundColor;
}
