//Buttons for each module
.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.Purple:hover {
    background-color: $Purple;
    border: 1px solid $Purple;
    color: #000000;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-outlined.Purple {
    border: 1px solid $Purple;
    background-color: $appDarkAccent;
    color: $Purple;
}

.Purple,
.Purple-Icon .MuiStepLabel-iconContainer .MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-active,
.Purple-Icon .MuiStepLabel-iconContainer .MuiSvgIcon-root.MuiStepIcon-root.MuiStepIcon-completed {
    color: $Purple;
}

//Slider
.MuiSlider-root.MuiSlider-colorPrimary.Purple {
    color: $Purple;
}

//Fab
.MuiButtonBase-root.MuiFab-root.Purple.MuiFab-primary {
    background-color: $Purple;
}

.MuiButtonBase-root.MuiFab-root.Purple.MuiFab-primary .MuiSvgIcon-root{
    fill: #000000;
}


// RadioButton

p {
    color: #cbcbcb;
}

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    color: #cbcbcb;
}

//Switch
.Purple .MuiButtonBase-root:hover {
    color: $Purple;
    border-color: $Purple;
}

// Accordion
.Purple .MuiButtonBase-root.MuiAccordionSummary-root:hover,
.Purple .MuiAccordionSummary-expandIcon:hover,
.Purple .MuiAccordionSummary-content:hover,
.Purple .Expand:hover {
    color: $Purple;
    border-color: $Purple;
}

//Links

.Purple:hover, h6 > .Pink:hover {
    color: $Purple;
}


// Drawer Button 

.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16 {
    border-left: 1px solid $containerBorderColor;
}