.Description {
    border-bottom: 1px solid $containerBorderColor;
    margin-bottom: $containerMargin;
}

.Description .Goal {
    border-top: 1px solid $containerBorderColor;
    padding-top: $containerPadding;
}