.Footer {
    display: flex;
    flex-wrap: wrap;
    background-color: $appDarkAccent;
    width: 100%;
    border-top: 1px solid $containerBorderColor;
}

.Footer-Component {
    flex: 0 1 300px;
    margin: 0 20px;
}

.Footer .Links,
.Footer .Copyright,
.Footer .About {
    display: flex;
    flex-direction: column;
}

.Footer .Copyright .Title {
    font-family: "ocr-a-std", monospace;
    font-size: 1rem;
    margin-bottom: .3rem;
}

.Footer .Copyright {
    margin-left: 300px;
}
.Footer .Link {
    font-size: .75rem;
}
