.Header {
    width: 100%;
    border-bottom: 1px solid $containerBorderColor;
}

#Glossary h2,
#Resources h2 {
    padding: $containerPadding;
    margin-bottom: 0;
}

.Term-Container {
    flex: 1 1 250px; /*  Stretching: */
    flex: 0 1 250px; /*  No stretching: */
    margin: 5px;
}
