.Interaction {
    margin-bottom: 15px;
}

.Select-Fairness {
    background-color: $containerBackgroundColor;
    border-radius: $containerBorderRadius;
    border: 1px solid $containerBorderColor;
    padding: $containerPadding;
    margin-bottom: $containerMarginBottom;
}

.Probability {
    background-color: $containerBackgroundColor;
    border-radius: $containerBorderRadius;
    border: 1px solid $containerBorderColor;
    padding: $containerPadding;
    margin-bottom: $containerMarginBottom;
}