.Interaction {
    margin-bottom: 15px;
}

.Select-Fairness {
    background-color: $containerBackgroundColor;
    border-radius: $cardBorderRadius;
    border: 1px solid $cardBorderColor;
    padding: $cardPadding;
    margin-bottom: $cardMarginBottom;
}

.Probability {
    background-color: $containerBackgroundColor;
    border-radius: $cardBorderRadius;
    border: 1px solid $cardBorderColor;
    padding: $cardPadding;
    margin-bottom: $cardMarginBottom;
}