.Hidden {
    visibility: hidden;
    max-height: 0;
}

.my-grid {
  display: grid;
  grid-template-columns: 2rem 1fr;
}

.my-grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-title0,
.section-title1,
.section-title {
  grid-row: 1 / span 1;
  text-align: center;
  writing-mode:vertical-rl; /* vertical text */
  line-height: 2rem; /* center in div */
  transform:rotate(180deg); /* spin to orient as required */
}

.section-title0 {
    padding-bottom: 55px;
}

.section-title {
    padding-bottom: 20px;
}

.section-title2 {
    text-align: center;
}
