.Actual {
    display: flex;
    flex-direction: row;
}

.Legend-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 15px;
}

// .Row {
//     display: flex;
//     flex-direction: row;
//     gap: 15px;
// }

// .Column {
//     display: flex;
//     flex-direction: column;
// }
