.Legend-Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// .Row {
//     display: flex;
//     flex-direction: row;
//     gap: 15px;
// }

// .Column {
//     display: flex;
//     flex-direction: column;
// }
