.Start {
  position: absolute;
  top: 35%;
  left: 35%;
  // transform: translate(-50%, -50%);
  text-align: center;
  max-width: 30%;
}

.Start button {
    margin: $containerMargin;
    max-width: 30%;
}

