.Start,
.Orientation {
  position: absolute;
  // transform: translate(-50%, -50%);
  text-align: center;
}

.Start {
  top: 35%;
  max-width: 30%;
  left: 35%;
}

.Orientation {
  top: 10%;
  left: 35%;
}

.Start button {
    margin: $containerMargin;
    max-width: 30%;
}

.Orientation {
  text-align: left;
}

