.movable-item {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.movable-item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.Model-Container {
    display: flex;
    flex-direction: column;
}

.Column {
    height: max-content;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid $cardBorderColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: $appIndent;
    // display: grid;
    // grid-gap: 1rem;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.data-variable-column,
.model-variable-column {
    background-color: $cardBackgroundColor;
}

.movable-item {
    border-radius: $cardBorderRadius;
    background-color: #2d3747;
    width: 80px;
    margin: 3px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    font-size: 0.75rem;
}
