.Variables-Column {
    height: max-content;
    min-height: 100px;
    padding: $containerPadding;
    // border: 2px dotted $appColorSecondary;
}

.Moveable-Items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.Moveable-Items p {
    opacity: .5;
}

.Movable-Item {
    // Customize cursor
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.Movable-Item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.Movable-Item:hover {
    border: 1px solid $appColor;
}

.Variable,
.Variable-Flat {
    border-radius: $containerBorderRadius;
    border: 1px solid #2e3238;
    background-color: $cardBackgroundColor;
    max-width: 100%;
    min-height: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 7px;
    padding-top: 2px;
    margin: 8px;
    color: #cbcbcb;
    margin-left: 0;
    font-size: .85rem;
    font-weight: 500;
    font-variant: small-caps;
}

.Variable {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 6px 6px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    border: 1px solid $appColorSecondary;
}

.Variable-Flat {
    // max-width: 50%;
    background-color: $appDarkAccent;
}

.Rotate90 {
    transform: rotate(-90deg);
}
