.Model-Container {
    text-align: center;
}

.Variables-Column {
    height: max-content;
    min-height: 150px;
    padding: $containerPadding;
}

.Model-Variables {
    // border: 1.5pt dotted #4e5155;
}

.Moveable-Items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

.Moveable-Items p {
    opacity: .5;
}

.Movable-Item {
    // Customize cursor
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

/* (Optional) Apply a "closed-hand" cursor during drag operation. */
.Movable-Item:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.Movable-Item:hover {
    border: 1px solid $appColor;
}

// #131517
.Variable {
    border-radius: $containerBorderRadius;
    border: 1px solid #2e3238;
    background-color: #d5d5d5; 
    width: 100px;
    min-height: 30px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 6px 6px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    padding-bottom: 7px;
    padding-top: 2px;
    margin: 8px;
    color: #131517;
    margin-left: 0;
}

#Arrow {
    max-height: 50px;
    max-width: 50px;
    fill: $appColor;
}

// .Scale200 {
//     width: 200%;
// }

.Rotate90 {
    transform: rotate(-90deg);
}
