.overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }
  
.Overlay__container {
  background: rgba(0,0,0,.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  color: $appColor;
}

.Overlay__container  > .Container {
  opacity: 1;
}

.Overlay__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
  
.Overlay__close:after {
  display: inline-block;
  content: "\00d7";
}
  
.Overlay__close {
  border: none;
  background-color: transparent;
  font-size: 36px;
  cursor: pointer;
}