.Overlay__background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
  }
  
.Overlay-Container {
  background: rgba(0,0,0,.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  color: $appColor;
}

.Containers-Container {
  display: grid;
  place-items: center;
}

.Overlay-Container .Container {
  opacity: 1;
  max-width: 50%;
}

.Overlay-Controls {
  display: flex;
  justify-content: space-between;
}
  
.Overlay-Close:after {
  display: inline-block;
  content: "\00d7";
}
  
.Overlay-Close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'VG5000';
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: $appColor;
}
