.item-list-column .Card-Container .Card {
    max-width: 400px;
    min-width: 400px;
    padding: 10px;
}

.Label {
    background-color: #2c3036;
    border-radius: $containerBorderRadius;
    padding: $containerPadding;
    margin: $containerMargin;
    border: 1px solid $cardBorderSecondary;
}

.Label p {
    text-transform: uppercase;
}