.item-list-column .Card-Container .Card {
    max-width: 400px;
    min-width: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

.Label {
    background-color: #272B30;
    border-radius: $containerBorderRadius;
    padding: $containerPadding;
    margin: $containerMargin;
    border: 1px solid $cardBorderSecondary;
}

.Label p {
    text-transform: uppercase;
}

.Move-Column {
    min-height: 30vh;
}