.Timer div {
    background-color: $appDarkAccent;
    border: 1px solid $Purple;
    margin: auto 150px;
    padding: 25px 15px;
    border-radius: 50px;
    font-weight: 500;
    text-align: center;
}

.Sidebar-Right .Timer div {
    margin: auto 95px;
}

.Timer .Countdown {
    text-align: center;
}

.Timer.Purple div {
    border: 2px solid $Purple;
}

.Timer.Pink div {
    border: 2px solid $Pink;
}

.Timer.DarkOrange div {
    border: 2px solid $DarkOrange;
}

.Timer.LightOrange div {
    border: 2px solid $LightOrange;
}

.Timer.Yellow div {
    border: 2px solid $Yellow;
}
